.icon-box {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width:50px;
  height:50px;
  border-radius:50%;
}

#icon-select {
  text-align: center;
  width: 100%;
  height: 55px;
  background-size: 100%;
}

.spacer {
  width: 400px;
}

#div-wrapper-selected {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 1px solid transparent; /* Light grey */
  background-size:100%;
  display: inline-block;
}

#div-wrapper-selected:hover {
  border: 1px solid #9ba0a3; /* Light grey */
  cursor: pointer;
}

.wrapper-icon-box1 {
  text-align: center;
  background-image: url("../images/img1.png");
}

.wrapper-icon-box2 {
  background-image: url("../images/img2.png");
}

.wrapper-icon-box3 {
  background-image: url("../images/img3.png");
}

.wrapper-icon-box4 {
  background-image: url("../images/img4.png");
}

.wrapper-icon-box5 {
  background-image: url("../images/img5.png");
}

.wrapper-icon-box6 {
  background-image: url("../images/img6.png");
}

.icon-bg {
  display: inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background: transparent;
}

.s {
  border: 3px solid #9ba0a3; /* Light grey */
  width: 60px;
  height: 60px;
  background-size:100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: relative;
}

  /* ----------- Loader Animation ----------*/

  .wrapper {
    border: 3px solid #2c3033; /* Light grey */
    width: 60px;
    height: 60px;
    background-size:100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgba(122,161,178,.5); /* Blue */
    border-right: 3px solid rgba(122,161,178,.5); /* Blue */
    border-left: 3px solid rgba(122,161,178,.5); /* Blue */
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: relative;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }